@using AspDotNetCoreMvc.Models
@using AspDotNetCoreMvc.Settings
@using Microsoft.Extensions.Options
@model IEnumerable<Cinema>

@inject IOptions<ConnectionOption> options
<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Locaton</th>
                    <th scope="col">Capacity</th>
                    <th>@options.Value.DefaultConnection</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
        @await Component.InvokeAsync("MovieCount",new { cinemaId=1})
        <vc:movie-count cinema-id="2"></vc:movie-count>
    </div>
</div>